.post {
    width: 300px;
    height: 328px;
    background-color: #fff6ef;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.post:nth-child(3n) {
    margin-right: 0;
}

.post__title {
    margin: 0;
    display: flex;
}

.post__title a {
    font-family: 'Alkalami', serif;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #0B0A08;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 220px;
}

.post__image {
    width: 300px;
    height: 255px;
    object-fit: cover;
}

.post__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    padding-left: 15px;
    padding-right: 15px;
}

.post__btn-like {
    border: none;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 0;
    cursor: pointer;
}

.post__btn-like span {
    margin: 5px;
}